/* All Mixins Use The Assumptions of:
** 1) A 12 Column Layout, With Each Column
** Being 80px Wide And Each Having An 80px
** Gutter on Both The Left And Right With
** The Exception of The First And Last Column
** Which Have Only One Gutter On Their Right
** And Left Side Respectively.
**
** 2) Rows Shall Be 50px High.
*/
@import "styles/parallax-overlap";
@import "styles/mobile-column-resizing";

/* Just For Examples */
body {
  margin: 50px 0;
  font-family: 'Open Sans', sans-serif;

}

.parallax-container:nth-last-child(n+1){
  margin-top: 50px;
}

.parallax-container__secondary-content{
  padding: 25px 50px;
}

.responsive-image {
    max-width: 100%;
    height: auto;

    &--left {
      float: left;
    }

    &--right {
      float: right;
    }
}
