/* Secondary Text Content Place To The Right
** of A Main Image Shall Be Given An Additional
** Column on The Left And Given And Additional Row
** In Which To Display Its Content
*/
@media screen and (max-width: 768px){

  .parallax-container {
    flex-direction: column;

    &--reverse-order-mobile {
      flex-direction: column-reverse;;
    }

    &__secondary-content {
      &--right {
        margin-left: 0;
      }
      &--left {
        margin-right: 0;
      }
    }
  }
}
