
/* Main Container To House Parallax Content */
.parallax-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  &__main-content {
    flex-grow: 0;
    flex-shrink: 1;
  }

  /* The Container May Be Black With White Text,
  ** or White With Black Text.
  */
  &__secondary-content {
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    height: 75%;
    transform: translateY(-40px);

    &--right {
      margin-left: -10%;
    }

    &--left {
      margin-right: -10%;
    }

    &--black-background {
      background: rgba(0,0,0,0.70);
      color: #FFFFFF;
    }

    &--white-background {
      background: #FFFFFF;
      color: #434343;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }
  }
}
