
/* Main Container To House Parallax Content */
.parallax-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 80px);
  grid-column-gap: 20px;
  grid-auto-rows: 50px;

  /* With Main Content Starting on Left */
  &__main-content {
    grid-row-start: 1;

    &--left {
      grid-column-start: 1;

      @for $i from 1 through 12 {
        &-col-span-#{$i} {
          grid-column-end: span #{$i}
        }
      }
    }

    @for $i from 1 through 12 {
      &--row-span-#{$i} {
        grid-row-end: span #{$i}
      }
    }

    &--right{
      grid-column-end: 12;

      @for $i from 1 through 12 {
        &-col-span-#{$i} {
          grid-column-start: 12 - #{$i}
        }
        &-row-span-#{$i} {
          grid-row-start: span #{$i}
        }
      }
    }

  }

  /* Secondary Content Starting On Right May
  ** Start And Span Any Number. Additionally
  ** The Container May Be Black With White Text,
  ** or White With Black Text.
  **/
  &__secondary-content {
    z-index: 1;

    &--black-background {
      background: rgba(0,0,0,0.70);
      color: #FFFFFF;
    }

    &--white-background {
      background: #FFFFFF;
      color: #434343;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }

    @for $i from 1 through 12 {
      &--col-start-#{$i}{
        grid-column-start: #{$i}
      }

      &--col-span-#{$i} {
        grid-column-end: span #{$i};
      }

      &--row-start-#{$i} {
        grid-row-start: #{$i}
      }

      &--row-span-#{$i} {
        grid-row-end: span #{$i}
      }

    }
  }
}
